@font-face {
    font-family: "CranberryBlues";
    src: url("../assets/fonts/CranberryBlues.ttf");
}

h1 {
    font-family: "CranberryBlues";
    color: red;
    border: 2px solid blue;
    background-color: rgb(81, 255, 0);
}

#myCanvas {
    border:1px solid black;
    background-image:url("../assets/images/background.jpg");
}